# Created by .ignore support plugin (hsz.mobi)
.gitignore
.idea/
CSeries-CI.iml
CSeries/CSeries.iml
TransmissionRPC.iml
/CSeries/src/main/java/fr/cseries/ci/Config.java
/TheMovieDatabase/TheMovieDatabase.iml
